div {
    border: solid red;
}

.row justify-contents-between{
    width : 100%;
}

.hand-card img {
    width: 50px;
}

/* .modal-fade { 
    background: rgba(000, 000, 000, 0.8); 
    min-height:1000000px; 
} */