.fullscreen {
        width: 100%;
        padding-left: 30px;
}

.player {
        color: white;
}

.points {
        color: white;
}

.d-flex {
        display: flex;
        flex-wrap: wrap;
}

.card-row-right {
        text-align: right;
}

.row justify-contents-between {
        width: 100%;
}

.hand-card img {
        width: 70px;
        margin: 3px;
}

.hand-card img:hover {
        box-shadow: 0 0 2px 1px silver;
        border-radius: 10px;
}

#top-card img:hover {
        box-shadow: 0 0 3px 3px silver;
        border-radius: 22px;
}

#draw-card img:hover {
        box-shadow: 0 0 3px 3px silver;
        border-radius: 22px;
}

#logo {
        height: 50px
}

.playground {
        display: flex;
        justify-content: center;
}

.stack {
        margin-left: 40px;
        margin-right: 40px;
}

.player {
        color: white;
}

cards-container {
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
}

.row justify-contents-between {
        width: 100%;
}

body {
        background-image: url("uno-background.jpg");
}

footer {
        height: 100px;
        border-color: black;
        border-style: dotted;
        border-width: 2px 0px 0px 0px;
        padding-top: 20px;
        margin-top: 40px;
}

footer>p {
        color: white;
        opacity: 75%;
}

.flip-vertical-right {
        -webkit-animation: flip-vertical-right .4s cubic-bezier(.455, .03, .515, .955) both;
        animation: flip-vertical-right .4s cubic-bezier(.455, .03, .515, .955) both
}

@-webkit-keyframes flip-vertical-right {
        0% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0)
        }
        100% {
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg)
        }
}

@keyframes flip-vertical-right {
        0% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0)
        }
        100% {
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg)
        }
}

.bounce-out-top {
        -webkit-animation: bounce-out-top 1.5s both;
        animation: bounce-out-top 1.5s both;
}

@-webkit-keyframes bounce-out-top {
        0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out
        }
        5% {
                -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in
        }
        15% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out
        }
        25% {
                -webkit-transform: translateY(-38px);
                transform: translateY(-38px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in
        }
        38% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out
        }
        52% {
                -webkit-transform: translateY(-75px);
                transform: translateY(-75px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in
        }
        70% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out
        }
        85% {
                opacity: 1
        }
        100% {
                -webkit-transform: translateY(-800px);
                transform: translateY(-800px);
                opacity: 0
        }
}

@keyframes bounce-out-top {
        0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out
        }
        5% {
                -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in
        }
        15% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out
        }
        25% {
                -webkit-transform: translateY(-38px);
                transform: translateY(-38px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in
        }
        38% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out
        }
        52% {
                -webkit-transform: translateY(-75px);
                transform: translateY(-75px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in
        }
        70% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out
        }
        85% {
                opacity: 1
        }
        100% {
                -webkit-transform: translateY(-800px);
                transform: translateY(-800px);
                opacity: 0
        }
}

.shake-horizontal {
        -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
        0%, 100% {
                -webkit-transform: translateX(0);
                transform: translateX(0)
        }
        10%, 30%, 50%, 70% {
                -webkit-transform: translateX(-10px);
                transform: translateX(-10px)
        }
        20%, 40%, 60% {
                -webkit-transform: translateX(10px);
                transform: translateX(10px)
        }
        80% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px)
        }
        90% {
                -webkit-transform: translateX(-8px);
                transform: translateX(-8px)
        }
}

@keyframes shake-horizontal {
        0%, 100% {
                -webkit-transform: translateX(0);
                transform: translateX(0)
        }
        10%, 30%, 50%, 70% {
                -webkit-transform: translateX(-10px);
                transform: translateX(-10px)
        }
        20%, 40%, 60% {
                -webkit-transform: translateX(10px);
                transform: translateX(10px)
        }
        80% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px)
        }
        90% {
                -webkit-transform: translateX(-8px);
                transform: translateX(-8px)
        }
}

.slide-out-elliptic-top-bck {
        -webkit-animation: slide-out-elliptic-top-bck .7s ease-in both;
        animation: slide-out-elliptic-top-bck .7s ease-in both
}

@-webkit-keyframes slide-out-elliptic-top-bck {
        0% {
                -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
                -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
                opacity: 1
        }
        100% {
                -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1
        }
}

@keyframes slide-out-elliptic-top-bck {
        0% {
                -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
                -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
                opacity: 1
        }
        100% {
                -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1
        }
}

.ping {
        -webkit-animation: ping .8s ease-in-out both;
        animation: ping .8s ease-in-out both
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-4 7:52:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes ping {
        0% {
                -webkit-transform: scale(.2);
                transform: scale(.2);
                opacity: .8
        }
        80% {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
                opacity: 0
        }
        100% {
                -webkit-transform: scale(2.2);
                transform: scale(2.2);
                opacity: 0
        }
}

@keyframes ping {
        0% {
                -webkit-transform: scale(.2);
                transform: scale(.2);
                opacity: .8
        }
        80% {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
                opacity: 0
        }
        100% {
                -webkit-transform: scale(2.2);
                transform: scale(2.2);
                opacity: 0
        }
}

.roll-out-right {
        -webkit-animation: roll-out-right .6s ease-in infinite both;
        animation: roll-out-right .6s ease-in infinite both
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-6 11:39:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes roll-out-right {
        0% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
        }
        100% {
                -webkit-transform: translateX(1000px) rotate(540deg);
                transform: translateX(1000px) rotate(540deg);
                opacity: 0
        }
}

@keyframes roll-out-right {
        0% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
        }
        100% {
                -webkit-transform: translateX(1000px) rotate(540deg);
                transform: translateX(1000px) rotate(540deg);
                opacity: 0
        }
}

.roll-in-left {
        -webkit-animation: roll-in-left .6s ease-out both;
        animation: roll-in-left .6s ease-out both
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-5 11:12:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes roll-in-left {
        0% {
                -webkit-transform: translateX(-800px) rotate(-540deg);
                transform: translateX(-800px) rotate(-540deg);
                opacity: 0
        }
        100% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
        }
}

@keyframes roll-in-left {
        0% {
                -webkit-transform: translateX(-800px) rotate(-540deg);
                transform: translateX(-800px) rotate(-540deg);
                opacity: 0
        }
        100% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
        }
}

.shadow-pop-tr {
        -webkit-animation: shadow-pop-tr .3s cubic-bezier(.47, 0.000, .745, .715) both;
        animation: shadow-pop-tr .3s cubic-bezier(.47, 0.000, .745, .715) both
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-5 18:48:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes shadow-pop-tr {
        0% {
                -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0)
        }
        100% {
                -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                -webkit-transform: translateX(-8px) translateY(8px);
                transform: translateX(-8px) translateY(8px)
        }
}

@keyframes shadow-pop-tr {
        0% {
                -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0)
        }
        100% {
                -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                -webkit-transform: translateX(-8px) translateY(8px);
                transform: translateX(-8px) translateY(8px)
        }
}

.slide-out-fwd-center {
        -webkit-animation: slide-out-fwd-center .7s cubic-bezier(.55, .085, .68, .53) both;
        animation: slide-out-fwd-center .7s cubic-bezier(.55, .085, .68, .53) both
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-6 10:1:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-out-fwd-center {
        0% {
                -webkit-transform: translateZ(1);
                transform: translateZ(1);
                opacity: 1
        }
        100% {
                -webkit-transform: translateZ(600px);
                transform: translateZ(600px);
                opacity: 0
        }
}

@keyframes slide-out-fwd-center {
        0% {
                -webkit-transform: translateZ(1);
                transform: translateZ(1);
                opacity: 1
        }
        100% {
                -webkit-transform: translateZ(600px);
                transform: translateZ(600px);
                opacity: 0
        }
}

.text-pop-up-top {
        -webkit-animation: text-pop-up-top .5s cubic-bezier(.25, .46, .45, .94) both;
        animation: text-pop-up-top .5s cubic-bezier(.25, .46, .45, .94) both
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-6 10:40:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes text-pop-up-top {
        0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                text-shadow: none
        }
        100% {
                -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, .3)
        }
}

@keyframes text-pop-up-top {
        0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                text-shadow: none
        }
        100% {
                -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, .3)
        }
}

.roll-out-left {
        -webkit-animation: roll-out-left .6s ease-in both;
        animation: roll-out-left .6s ease-in both
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-6 11:9:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes roll-out-left {
        0% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
        }
        100% {
                -webkit-transform: translateX(-1000px) rotate(-540deg);
                transform: translateX(-1000px) rotate(-540deg);
                opacity: 0
        }
}

@keyframes roll-out-left {
        0% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                opacity: 1
        }
        100% {
                -webkit-transform: translateX(-1000px) rotate(-540deg);
                transform: translateX(-1000px) rotate(-540deg);
                opacity: 0
        }
}